<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SampleSuite" >
	
  <test name="ModuleOneTest">
	  
    <classes>
     <!--  <class name="testScripts.Automation_Practice"/> -->
      <!-- <class name="testScripts.FirstSampleTest"/>-->
    <!--  <class name="testScripts.is_displayed"/>-->
    <class name="testScripts.AutocompleteTest"/>
    
    </classes>
  </test> <!-- ModuleOneTest -->
  
  
</suite> <!-- SampleSuite -->
