<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SampleSuite" thread-count="3" parallel="tests">
	
  <test name="ModuleOneTest">
	  
    <classes>
     <!--  <class name="testScripts.Automation_Practice"/> -->
      <!-- <class name="testScripts.FirstSampleTest"/>-->
    <!--  <class name="testScripts.is_displayed"/>-->
    <class name="parallelscripts.sampleonetest"/>
    
    </classes>
  </test> <!-- ModuleOneTest -->
  
  <test name="ModuleTwoTest">
	  
    <classes>
     <!--  <class name="testScripts.Automation_Practice"/> -->
      <!-- <class name="testScripts.FirstSampleTest"/>-->
    <!--  <class name="testScripts.is_displayed"/>-->
    
    <class name="parallelscripts.sampletwotest"/>
    </classes>
  </test> <!-- ModuleOneTest -->
</suite> <!-- SampleSuite -->
